{% extends '_base.html' %}
{% load i18n %}
{% block content %}
<div class="container mt-3">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <h3 class="text-warning-emphasis">List of Your Expenses</h3>
        {% for expense in expenses %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button aria-controls="flush-collapse{{expense.id}}" aria-expanded="false"
                        class="accordion-button collapsed"
                        data-bs-target="#flush-collapse{{expense.id}}" data-bs-toggle="collapse"
                        type="button">
                    {% trans '$' %}
                    {{expense.amount}}
                    - {{expense.category}} <i class="fas fa-{{ expense.category.icon }}"></i>
                </button>
            </h2>
            <div class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample"
                 id="flush-collapse{{expense.id}}">
                <div class="accordion-body">
                    <button class="btn btn-sm btn-primary"
                            data-bs-target="#deleteModal{{expense.id}}"
                            data-bs-toggle="modal"
                            type="button">
                        {% trans 'Delete' %}
                    </button>
                    <a class="btn btn-sm btn-warning" href=""> {% trans 'Edit' %}</a>
                    <br>
                    <p>
                       <span class="text-secondary">
                           Date: {{expense.date }}
                       </span>
                        <br>
                        {{ expense.description }}
                    </p>
                </div>
            </div>
        </div>

        <!--Delete popup-->
       <div aria-hidden="true" aria-labelledby="deleteModalLabel{{expense.id}}"
             class="modal fade" id="deleteModal{{expense.id}}" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel{{expense.id}}">
                            Delete Expense: ${{expense.amount}} ({{expense.category}})
                        </h1>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this expense?</p>
                        <p><strong>Date:</strong> {{expense.date}}</p>
                        {% if expense.description %}
                        <p><strong>Description:</strong> {{expense.description}}</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
                        <form action="{% url 'expenses:expense_delete' expense.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">Confirm Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--  End Delete popup-->

        {% endfor %}
    </div>
</div>


{% endblock content %}